@charset "UTF-8";
*{
    padding: 0;
    margin: 0;
    font-family: Times, Times New Roman, serif;
}
.menu{
    padding: 10px 0;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 30px;
    z-index:1000;
    background-color: #d8bfd8;
}

ul{
    position: fixed;
    top: 0;
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 50px;
    margin: 4%;
}

a{
    text-decoration: none;
        color: black;

}
button{
    cursor: pointer;
}

body{
    background-color: #d8bfd8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.conteiner{
    padding: 5%;
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    font-size: 40px;
}

.botao{
    width:100%;
    display: grid;
    grid-template-columns:1fr ;
    padding: 15px;
    border-radius: 15px;
    font-size: 16px;
}
.botao:hover {
  background-color: #d8bfd8;
}
.quiz{
    width:90%;
    max-width: 900px;
    padding: 15px;
    margin: 5%;
    border-radius:30px;
    background-color: rgb(93,28,117);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    color: white;
}
#proximo{
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
}

